/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 600px) {
    .menu{
        background-color: aqua;
        display: flex;
        justify-content: flex-end;
    }
    .menu a{
        padding: 15px;
        text-decoration: none;
        margin-left: 20px;
    }
    .menu a:hover{
        background-color: azure;
    }
    .bg1{
        width: 80%;
        position: absolute;
        margin-top: 40px;
        margin-left: 13vh;
    }
    .bg2{
        width: 20%;
        position: absolute;
        margin-top: 37px;
        margin-left: 16vh;

        animation: salman;
        animation-duration: 4s;

    }
    .bg3{
        position: absolute;
        width: 25%;
        margin-left: 65%;
        margin-top: 30px;

        animation: aa;
        animation-duration: 4s;
    }
    .bg4{
        position: absolute;
        width: 30%;
        margin-top: 30%;
        margin-left: 18%;

        animation: bb;
        animation-duration: 4s;
    }
    @keyframes salman {
        from{
            width: 10%;
        }
    }
    @keyframes aa {
        from{
            margin-top: 10px;
        }                
    }
    @keyframes bb {
        from{
            margin-left: 20px;
        }

}